/* Style the Page */
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:cyan;
    margin: 20px;
    padding: 20px;
}
h1{
    color: blue;
    text-align: center;
    margin-top: 50px;
}
/* Form Design*/
form{
    align-content: center;
    max-width: fit-content;
    margin:0 auto;
    padding: 20px;
    background-color:cornsilk;
    border-radius: 8px;
}
label{
    font-size: 16px;
    font-weight: bold;
    color: black;
}
/*group selector*/
input[type="text"], input[type="number"],input[type="date"],input[type="file"], select, textarea{
    width: 500px;
    margin-top: 1px;
    border: 1px;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 25px;
}
input[type="submit"]:hover{
    background-color: brown;
}
input[type="radio"]{
    margin-right: 10px;
}
textarea{
    resize: vertical;
    width: 0 auto;
}
#Name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    font-display: auto;
}
#Age{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    font-display: auto;
}
#DOB {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#Address{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* Element Selectors */
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    background-color: aqua;
    padding: 10px;
    margin: 50px;
}

h1{
    text-align: center;
    font-style: bold;
    font-style: italic;
    color: blue;
}

form{
    align-content: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
    background-color: antiquewhite;
}
label{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
input[type="text"],input[type="number"],input[type="date"],input[type="file"],select, textarea{
    width: 300px;
    margin-top: 10px;
    border: 20px  blue;
    border-radius: 10px;
    font-size: 20px;
    border-bottom: 18px;
}
#Name{
    align-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

input[type="submit"]:hover{
    background-color: blue;
    cursor: pointer;
    font-display:auto;
}

#Address{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 300px;
    min-width: 100px;
    resize: vertical;
}
input[type="radio"]{
    margin: 0 auto;
    padding: 10px;
}

div.relative{
position: relative;
left: 30px;
border: 3px solid #73AD21;
background-color: aqua;
}

.header{
    font-size: 16px;
    width:auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    text-align: center;
    margin: 1px;
    padding: 10px;
    background-color: yellow;
    border-color: white;
    border-radius: 2px;
}